<div class="max-w-md mx-auto mt-20 p-6 bg-white border rounded-lg shadow-lg">
  <h2 class="text-2xl font-bold mb-6">Feedback Form</h2>
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="name">
      Name:
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
           id="name" type="text" placeholder="Enter your name" [(ngModel)]='name'>
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="email">
      Email:
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
           id="email" type="email" placeholder="Enter your email" [(ngModel)]='email'>
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 font-bold mb-2" for="feedback">
      Feedback:
    </label>
    <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="feedback" rows="5" placeholder="Enter your feedback" [(ngModel)]='feedback'></textarea>
  </div>
  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
           (click)="onClick()">
    Submit
  </button>
</div>


<table class="w-full border-collapse border border-blue-500 max-w-xl mt-16 mx-auto" *ngIf="userArray.length>0; else noData">
  <thead>
  <tr class="bg-blue-500 text-white">
    <th class="py-2 px-4 text-left">#</th>
    <th class="py-2 px-4 text-left">Name</th>
    <th class="py-2 px-4 text-left">Email</th>
    <th class="py-2 px-4 text-left">Feedback</th>
    <th class="py-2 px-4 text-left">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr class="bg-white border-b border-blue-500" *ngFor="let user of userArray; let index=index">
    <td class="py-2 px-4">{{ index+1 }}</td>
    <td class="py-2 px-4">{{ user.name }}</td>
    <td class="py-2 px-4">{{ user.email }}</td>
    <td class="py-2 px-4">{{ user.feedback }}</td>
    <td class="py-2 px-4"><button (click)="onDelete(index)">Delete</button></td>
  </tr>
  </tbody>
</table>

<ng-template #noData>No Data</ng-template>
<br>
<br>
<br>
<br>
<br>

<div class="container">


  <form #f='ngForm' (ngSubmit)="onSubmit(f)" class="max-w-md mx-auto mt-20 p-8  bg-white border rounded-lg shadow-lg">
    <div class="relative z-0 w-full mb-5 group">
      <input type="email" name="floating_email" id="floating_email" ngModel #floating_email='ngModel' (change)="getValue(floating_email)"  required
             [ngClass]="{'is-invalid':floating_email.touched && floating_email.invalid}" minlength="5" maxlength="50" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
             class="shadow leading-tight focus:outline focus:shadow-amber-300 block py-2.5 px-0 w-full text-sm text-gray-900
             bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500
             focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "  >

      <div *ngIf="floating_email.errors">
        <div class="alert alert-danger" *ngIf="floating_email.touched && floating_email.invalid">Email Is Required</div>
      </div>
      <!--<div *ngIf="floating_email.errors.minlength">
        <div class="alert alert-danger" *ngIf="floating_email.touched && floating_email.invalid">Email Is Required 5 characters</div>
      </div>-->

      <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input type="password" name="floating_password" id="floating_password" ngModel #floating_password='ngModel' (change)="getValue(floating_password)"
             pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
             class="shadow leading-tight focus:outline focus:shadow-amber-300 block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />

      <div *ngIf="floating_password.errors">
        <div class="alert alert-danger" *ngIf="floating_password.touched && floating_password.invalid">Password Is Required</div>
      </div>

      <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input type="password" name="repeat_password" id="floating_repeat_password" ngModel #repeat_password='ngModel' (change)="getValue(repeat_password)"
             pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
             class="shadow leading-tight focus:outline focus:shadow-amber-300 block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />

      <div *ngIf="repeat_password.errors">
        <div class="alert alert-danger" *ngIf="repeat_password.touched && repeat_password.invalid">Password Is Required</div>
      </div>

      <label for="floating_repeat_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirm password</label>
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="floating_first_name" id="floating_first_name" ngModel  #floating_first_name='ngModel' (change)="getValue(floating_first_name)"
               class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300
               appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none
               focus:ring-0 focus:border-blue-600 peer" placeholder=" " required minlength="5" maxlength="10" />

        <div *ngIf="floating_first_name.errors">
          <div class="alert alert-danger" *ngIf="floating_first_name.touched && floating_first_name.invalid">First Name Is Required</div>
        </div>

        <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First name</label>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="floating_last_name" id="floating_last_name" ngModel #floating_last_name='ngModel' (change)="getValue(floating_last_name)"
               class="shadow leading-tight focus:outline focus:shadow-amber-300 block py-2.5 px-0 w-full text-sm text-gray-900
               bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600
               dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required minlength="5" maxlength="10"  />

        <div *ngIf="floating_last_name">
          <div class="alert alert-danger" *ngIf="floating_last_name.touched && floating_last_name.invalid">last Name Is Required</div>
        </div>

        <label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last name</label>
      </div>
    </div>
    <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
            font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700
            dark:focus:ring-blue-800" [disabled]="f.invalid" >Submit</button>
  </form>

  <!--******************************************************************-->

  <form [formGroup]="form"  class="max-w-md mx-auto mt-20 p-8  bg-white border rounded-lg shadow-lg">
    <div class="relative z-0 w-full mb-5 group">
      <input type="email" name="floating_email" id="floating_email2"  formControlName="floating_email"   required
            pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
             class="shadow leading-tight focus:outline focus:shadow-amber-300 block py-2.5 px-0 w-full text-sm text-gray-900
             bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500
             focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" "  >


        <div class="alert alert-danger" *ngIf="Email.touched && Email.invalid">
          <div *ngIf="Email.errors">The Email Is Required</div>
        <!--  <div *ngIf="Email.errors?.required">The Email Not</div>-->
        </div>




      <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email address</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input type="password" name="floating_password" id="floating_password2"  formControlName="floating_password"
             pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
             class="shadow leading-tight focus:outline focus:shadow-amber-300 block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />


      <div class="alert alert-danger" *ngIf="Password.touched && Password.invalid">
        <div *ngIf="Password.errors">The Password Is Required</div>
        <!--  <div *ngIf="Email.errors?.required">The Email Not</div>-->
      </div>


      <label for="floating_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
      <input type="password" name="repeat_password" id="floating_repeat_password2"  formControlName="repeat_password"
             pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
             class="shadow leading-tight focus:outline focus:shadow-amber-300 block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required />

      <div class="alert alert-danger" *ngIf="RepeatPassword.touched && RepeatPassword.invalid">
        <div *ngIf="RepeatPassword.errors">The Repeat Password Is Required</div>
        <!--  <div *ngIf="Email.errors?.required">The Email Not</div>-->
      </div>

      <label for="floating_repeat_password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirm password</label>
    </div>
    <div class="grid md:grid-cols-2 md:gap-6">
      <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="floating_first_name" id="floating_first_name2"  formControlName="floating_first_name"
               class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300
               appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none
               focus:ring-0 focus:border-blue-600 peer" placeholder=" " required minlength="5" maxlength="10" />

        <div class="alert alert-danger" *ngIf="FirstName.touched && FirstName.invalid">
          <div *ngIf="FirstName.errors">The FirstName Is Required</div>
          <!--  <div *ngIf="Email.errors?.required">The Email Not</div>-->
        </div>

        <label for="floating_first_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First name</label>
      </div>
      <div class="relative z-0 w-full mb-5 group">
        <input type="text" name="floating_last_name" id="floating_last_name2"  formControlName="floating_last_name"
               class="shadow leading-tight focus:outline focus:shadow-amber-300 block py-2.5 px-0 w-full text-sm text-gray-900
               bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600
               dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " required minlength="5" maxlength="10"  />


        <div class="alert alert-danger" *ngIf="LastName.touched && LastName.invalid">
          <div *ngIf="LastName.errors">The LastName Is Required</div>
          <!--  <div *ngIf="Email.errors?.required">The Email Not</div>-->
        </div>


        <label for="floating_last_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last name</label>
      </div>
    </div>
    <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
            font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700
            dark:focus:ring-blue-800">Submit</button>
  </form>

</div>
