<p>event works!</p>
<br>

<!--NgFor Directive-->

<p>postArray :{{ postArray }}</p>

<br>
<!--<li *ngFor="let post of postArray">{{ post }}</li>-->
<ul class="list-disc pl-6">
  <li>{{ postArray[0] }}</li>
  <li>{{ postArray[1] }}</li>
  <li>{{ postArray[2] }}</li>
  <li>{{ postArray[3] }}</li>
  <li>{{ postArray[4] }}</li>
</ul>

<br>

<!--NgFor usage-->
<h1 class="ml-6 text-3xl text-green-600">NgFor usage</h1>
<ul class="list-disc pl-6">
  <li *ngFor="let post of postArray">{{ post }}</li>
</ul>

<br>

<!--*************************************************************-->
<!--Fetch Object Array NgFor usage-->
<h1 class="ml-6 text-3xl text-blue-700">Fetch Object Array</h1>

<!--Only return Json object-->
<ul class="list-disc pl-6">
  <li *ngFor="let post of objArray">{{ post | json }}</li>
</ul>
<!--*************************************************************-->

<br>

<!--*************************************************************-->
<!--Fetch Object Array Key Use-->
<h1 class="ml-6 text-3xl text-green-600">Fetch Object Array Key Use</h1>
<!--Only return Object Key Use-->
<ul class="list-disc pl-6">
  <li *ngFor="let post of objArray; let i=index"><!--{{ i }} - --> {{ post.id }} - {{ post.names }}
    <button class="flex mx-auto text-white bg-red-500 py-2 px-2 focus:outline-2 rounded"
            (click)="onDelete(i)">Delete</button>
  </li>
</ul>
<!--*************************************************************-->

<br>

<!--*************************************************************-->
<!--Change DeTection-->

<button (click)="addNew()" class="flex mx-auto text-green-600 bg-amber-300 py-2 px-8 focus:outline-2 rounded">Add New Data</button>

<br>

<!--/////////////////////////// ngIF DirectIve ////////////////////////////////////-->

<!--ngIF DirectIve-->

<div *ngIf="objArray.length>0">
  <h1 class="ml-6 text-3xl text-red-600">NgIF Use</h1>
  <ul class="list-disc pl-6">
    <li *ngFor="let post of objArray; let i=index"><!--{{ i }} - --> {{ post.id }} - {{ post.names }}
      <button class="flex mx-auto text-white bg-red-500 py-2 px-2 focus:outline-2 rounded"
              (click)="onDelete(i)">Delete</button>
    </li>
  </ul>
</div>

<br>

<div class="justify-content-center items-center text-white bg-blue-500" *ngIf="objArray.length==0">
  <p class="text-3xl text-fuchsia-600">There is no Data fetch NgIf Use...</p>
</div>

<br>

<!--/////////////////////////// ng-template ////////////////////////////////////-->

<!--ng-template-->
<!--<h1 class="ml-6 text-4xl text-black">ng-template</h1>-->

<div *ngIf="objArray.length>0; else noData">
  <h1 class="ml-6 text-4xl text-yellow-500">ng-template</h1>
  <ul class="list-disc pl-6">
    <li *ngFor="let post of objArray; let i=index"><!--{{ i }} - --> {{ post.id }} - {{ post.names }}
      <button class="flex mx-auto text-white bg-red-500 py-2 px-2 focus:outline-2 rounded"
              (click)="onDelete(i)">Delete</button>
    </li>
  </ul>
</div>

<br>

<ng-template class="justify-content-center items-center text-white bg-blue-500" #noData>
  <p class="text-3xl text-fuchsia-600">There is no Data fetch Ng template...</p>
</ng-template>
