<p>pipe works!</p>

<br>

<h1 class="ml-6 text-4xl text-blue-600">UpperCase</h1>
<br>

<h1>{{ title }}</h1>
<h1>{{ title | uppercase }}</h1>


<br>

<h1 class="ml-6 text-4xl text-blue-600">LowerCase</h1>
<br>

<h1>{{ title }}</h1>
<h1>{{ title | lowercase }}</h1>


<br>

<h1 class="ml-6 text-4xl text-blue-600">Number Pipe</h1>
<br>

<h1>{{ count }}</h1>
<h1>{{ count | number }}</h1>


<br>

<h1 class="ml-6 text-4xl text-blue-600">Decimal Pipe</h1>
<br>

<h1>{{ dcValue }}</h1>
<h1>{{ dcValue | number }}</h1>
<h1>{{ dcValue | number: '1.2-2' }}</h1>
<br>

<h1 class="ml-6 text-4xl text-blue-600">Currency Pipe</h1>
<br>

<h1>{{ price }}</h1>
<h1>{{ price | currency: "LKR" }}</h1>
<h1>{{ price | currency: "LKR":false: "2.1-1" }}</h1>




